.buttons-container {
  min-width: 40px;
  display: flex;
  flex-direction: column;

  .button{
    outline: none;
    padding:10px;
    font-size: 2em;
    font-family: monospace;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
  }

  .button[value="Hit"]{
    margin: auto
  }
  .button[value="Complete"]{
    margin-top: auto
  }
}