
.fighters {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  box-sizing: border-box;
  padding: 0 15px;
}

.fighter {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.fighter:hover {
  box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.name {
  align-self: center;
  font-size: 2em;
  margin-top: 20px;
  color: white;
}

.fighter-image {
  max-height: 240px;
}
