.health-bar {
  height: 2.5em;
  min-width: 350px;
  margin-bottom: 2em;
  background-color: red;
  border:4px solid white;
  border-radius: 5px;
}

.scale {
  height: inherit;
  background-color: yellow;
}