html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  user-select: none;
  position: relative;
  overflow-x: hidden;
  background-image: url(../../resources/fighters-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.7);
  visibility: hidden;
}
